# Water Consumtion in Sorono
## Stage 2

In this stage I have divided the data table to one main and three child tables that will be joined through primary-foriegn keys.
- The main table, I removed all text from it and placed foriegn keys instead
- The other three tables I have hot-encoded them, each with its suitable encoding
   - The `Usage` table was encoded based on the properties of its values.
   - The `User` table was encoded based on the properties of its values.
   - The `Gauge` table was encoded based on teh one-hot-encoding method.

In [1]:
# Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

%matplotlib inline

In [3]:
df= pd.read_csv('sources/UpdatedDataset3.CSV')

In [4]:
df.head()

,Condition,Case,Usage,User,Gauge,Diameter,Year,Month,Reference,Consumption
0,1,1,Downtown,Commercial High Consumption,CICASA / DE LA UNET,0.5,9,1,3761,17
1,2,1,Downtown,Commercial High Consumption,CICASA MMD-15 S,0.5,9,1,350,20
2,3,1,Downtown,Commercial High Consumption,DOROT,0.5,9,1,533,10
3,4,1,Downtown,Commercial High Consumption,MSDELAUNET,0.5,9,1,0,47
4,4,1,Downtown,Commercial High Consumption,MSDELAUNET,0.5,9,1,74,32

**Creating lighter version of the dataset**
*by creating a relational database for the textual columns
`Usage`, `User`, `Gauge`*

In [17]:
# Creating a dataframe
Usage_df = pd.DataFrame(df.Usage.unique(), columns=['Usage_text']
            ).reset_index().rename(columns={'index':'Usage_id'})
# Creating a dictionary
Usage_dict = Usage_df.to_dict()['Usage_text']
# Reversing the dictionary
Usage_dict = {v:k for k, v in Usage_dict.items()}
Usage_dict

{'Downtown': 0,
 'Government Reserve': 1,
 'High Risk Industry': 2,
 'Housing High density': 3,
 'Housing Low density': 4,
 'Housing Medium density': 5,
 'Infrastructure': 6,
 'Low Risk Industry': 7,
 'Medium Risk Industry': 8,
 'Mixed (Commerce, Housing, Industry)': 9,
 'Parks': 10,
 'Reserve Housing Conditioned': 11,
 'Reserve Industry Conditioned': 12,
 'Vegetation area': 13}

In [18]:
# Creating a dataframe
User_df = pd.DataFrame(df.User.unique(), columns=['User_text']
            ).reset_index().rename(columns={'index':'User_id'})
# Creating a dictionary
User_dict = User_df.to_dict()['User_text']
# Reversing the dictionary
User_dict = {v:k for k, v in User_dict.items()}
User_dict

{'Commercial High Consumption': 0,
 'Commercial Normal Consumption': 1,
 'Industrial': 2,
 'Low Domestic': 3,
 'Medium Domestic': 4,
 'Residential Domestic': 5,
 'Social Services': 6}

In [19]:
# Creating a dataframe
Gauge_df = pd.DataFrame(df.Gauge.unique(), columns=['Gauge_text']
            ).reset_index().rename(columns={'index':'Gauge_id'})
# Creating a dictionary
Gauge_dict = Gauge_df.to_dict()['Gauge_text']
# Reversing the dictionary
Gauge_dict = {v:k for k, v in Gauge_dict.items()}
Gauge_dict

{'CICASA / DE LA UNET': 0,
 'CICASA MMD-15 S': 1,
 'DOROT': 2,
 'MSDELAUNET': 3,
 'ABB': 4,
 'ACTARIS': 5,
 'ALFA': 6,
 'BADGERMETER': 7,
 'Cicasa NG 1/2': 8,
 'Cicasa NG 3/4': 9,
 'Delaunet MD-100': 10,
 'Delaunet MD-50': 11,
 'INVENSYS': 12,
 'KENT': 13,
 'Not Specified': 14,
 'Otras / desconocida': 15,
 'SENSUS': 16,
 'SHLUMBERGER': 17,
 'ELSTER': 18,
 'SAPPEL': 19,
 'ADCOM': 20,
 'AZTECA': 21,
 'ENDRESS-HOUSER': 22,
 'INVERCONTA': 23,
 'Badger combinado': 24,
 'ARAD': 25,
 'AV3STARS': 26,
 'Azteca 3VM': 27,
 'BAR-METERS 1"': 28,
 'Badger M25 Bronce': 29,
 'Delaunet WD-100': 30,
 'EWE': 31,
 'GENERICA': 32,
 'Iberconta': 33,
 'Kent ABB': 34,
 'MASTER': 35,
 'PRECISA II': 36,
 'RECORDAL': 37,
 'Y-T MD-15': 38,
 'ZENNER 1/2': 39,
 'Delaunet MD-15': 40,
 'TONHY': 41,
 'IESA': 42,
 'Delaunet MD-19': 43,
 'Delaunet MD-40': 44,
 'Delaunet MMD-19': 45,
 'MEXICANO': 46,
 'SAPPEL AQUARIUS': 47,
 'NEPTUNE': 48,
 'Badger RCDLL-25': 49,
 'AQUARIUS': 50,
 'Delaunet UD-15': 51,
 'Delaunet Aurus 3UM-15': 52,
 'MENECKE': 53}

In [22]:
# Substitute the IDs instead of the values in the main dataframe

# Creating IDs columns and mapping to the corresponding dictionaries
df = df.assign (Usage_ref=df['Usage'].map(Usage_dict), 
                User_ref=df['User'].map(User_dict),
                Gauge_ref=df['Gauge'].map(Gauge_dict))

In [23]:
df.sample(6)

,Condition,Case,Usage,User,Gauge,Diameter,Year,Month,Reference,Consumption,Usage_ref,User_ref,Gauge_ref
8934473,163,8306,Housing High density,Medium Domestic,MSDELAUNET,0.5,14,5,542,6,3,4,3
4198568,154,598,Housing High density,Medium Domestic,ELSTER,0.5,11,7,1259,18,3,4,18
2823520,164,1956,Housing High density,Medium Domestic,Not Specified,0.5,10,9,0,18,3,4,14
4666567,432,1697,Housing Medium density,Medium Domestic,ACTARIS,0.5,11,10,2074,13,5,4,5
1226226,463,717,Housing Medium density,Medium Domestic,SHLUMBERGER,0.5,9,9,2212,13,5,4,17
8619707,142,369,Housing High density,Medium Domestic,AZTECA,0.5,14,3,1048,0,3,4,21

In [27]:
# Select some columns to be saved as the new dataframe
df2 = df[['Condition',  'Case',  
    'Usage_ref',  'User_ref',  'Gauge_ref',  
    'Diameter',  
    'Year',  'Month',  
    'Reference',  'Consumption']]
df2.sample(10)

,Condition,Case,Usage_ref,User_ref,Gauge_ref,Diameter,Year,Month,Reference,Consumption
4637530,165,577,3,4,15,0.5,11,10,2677,20
8152206,441,5457,5,4,1,0.5,13,11,625,20
2604223,455,1748,5,4,3,0.5,10,7,221,9
9525083,337,8,4,5,3,0.5,14,9,0,12
498180,432,2111,5,4,5,0.5,9,4,2332,14
9746597,149,10276,3,4,1,0.5,14,11,613,10
11039562,196,1964,3,5,3,0.5,15,8,1180,70
6304379,164,8792,3,4,14,0.5,12,10,0,4
7851549,281,434,4,4,1,0.5,13,9,283,23
7947597,150,594,3,4,8,0.5,13,10,543,0

In [29]:
# Saving the dataframe for future access
# The saved version is compressed to be able to upload to GitHub
# as it has a 100MB limit of size.

df2.to_csv('Aqua_ref.CSV.gz', index=False, compression='gzip')

In [30]:
# Saving the other dataframes
Usage_df.to_csv('Usage.CSV', index=False)
User_df.to_csv('User.CSV', index=False)
Gauge_df.to_csv('Gauge.CSV', index=False)
print('*Saved*')

*Saved*

In [37]:
# Testing data retrieval
df3 = df2.merge(Usage_df, 
          left_on='Usage_ref', right_on='Usage_id', 
          how='outer').drop(columns=['Usage_ref', 'Usage_id']).merge(User_df, 
          left_on='User_ref', right_on='User_id', 
          how='outer').drop(columns=['User_ref', 'User_id']).merge(Gauge_df, 
          left_on='Gauge_ref', right_on='Gauge_id', 
          how='outer').drop(columns=['Gauge_ref','Gauge_id']).rename( \
          columns={'Usage_text':'Usage', 'User_text':'User', 'Gauge_text':'Gauge',})
df3.sample(5)

,Condition,Case,Diameter,Year,Month,Reference,Consumption,Usage,User,Gauge
10191841,862,2,1.5,9,10,28508,657,Parks,Commercial Normal Consumption,SENSUS
2124565,149,7052,0.5,15,7,446,31,Housing High density,Medium Domestic,CICASA MMD-15 S
4703945,163,4362,0.5,11,1,250,10,Housing High density,Medium Domestic,MSDELAUNET
7173661,525,146,0.5,10,10,1598,9,Housing Medium density,Social Services,ACTARIS
8100828,404,136,0.5,14,12,0,3,Housing Medium density,Commercial Normal Consumption,Not Specified

In [38]:
df2.shape==df3.shape

True

## Preparing the tables for machine learning

In [39]:
Usage_df

    Usage_id                           Usage_text
0          0                             Downtown
1          1                   Government Reserve
2          2                   High Risk Industry
3          3                 Housing High density
4          4                  Housing Low density
5          5               Housing Medium density
6          6                       Infrastructure
7          7                    Low Risk Industry
8          8                 Medium Risk Industry
9          9  Mixed (Commerce, Housing, Industry)
10        10                                Parks
11        11          Reserve Housing Conditioned
12        12         Reserve Industry Conditioned
13        13                      Vegetation area

# Encoding the text-columns to reflect ML properties

#### Creating some columns to reflect the properties of usage

In [54]:
Usage_df = Usage_df.assign(industry=0)
# Usage_df['industry'] = np.where('industry' in Usage_df.Usage_text, 1, 0)
# Usage_df['industry'] = Usage_df['Usage_text'].apply(lambda x:1 if 'industry' in x else 0)
Usage_df['industry'] = pd.np.where(Usage_df.Usage_text.str.contains("Industry"), 1,0)
Usage_df

    Usage_id                           Usage_text  industry
0          0                             Downtown         0
1          1                   Government Reserve         0
2          2                   High Risk Industry         1
3          3                 Housing High density         0
4          4                  Housing Low density         0
5          5               Housing Medium density         0
6          6                       Infrastructure         0
7          7                    Low Risk Industry         1
8          8                 Medium Risk Industry         1
9          9  Mixed (Commerce, Housing, Industry)         1
10        10                                Parks         0
11        11          Reserve Housing Conditioned         0
12        12         Reserve Industry Conditioned         1
13        13                      Vegetation area         0

In [56]:
# True if contains Industry or Infrastructure
Usage_df = Usage_df.assign(industry=0)

# True if contains Housing or Downtown
Usage_df = Usage_df.assign(housing=0)

# True if contains Parks or Vegetation
Usage_df = Usage_df.assign(agriculture=0)

# True if contains Downtown or Commerce
Usage_df = Usage_df.assign(commerce=0)

# True if contains Reserve 
Usage_df = Usage_df.assign(reserve=0)

# True if contains Infrastructure or Government or Parks
Usage_df = Usage_df.assign(government=0)

# True if contains Low 
Usage_df = Usage_df.assign(low_density=0)

# True if contains Medium 
Usage_df = Usage_df.assign(mid_density=0)

# True if contains High 
Usage_df = Usage_df.assign(high_density=0)

# Applying the conditions
use_str = Usage_df.Usage_text.str
Usage_df['industry'] = pd.np.where(use_str.contains("Industry"), 1,
                       pd.np.where(use_str.contains("Infrastructure"), 1,0))
Usage_df['housing'] = pd.np.where(use_str.contains("Housing"), 1,
                       pd.np.where(use_str.contains("Downtown"), 1,0))
Usage_df['agriculture'] = pd.np.where(use_str.contains("Parks"), 1,
                       pd.np.where(use_str.contains("Vegetation"), 1,0))
Usage_df['commerce'] = pd.np.where(use_str.contains("Downtown"), 1,
                       pd.np.where(use_str.contains("Commerce"), 1,0))
Usage_df['reserve'] = pd.np.where(use_str.contains("Reserve"), 1,0)
Usage_df['government'] = pd.np.where(use_str.contains("Government"), 1,
                       pd.np.where(use_str.contains("Infrastructure"), 1,
                       pd.np.where(use_str.contains("Parks"), 1,0)))
Usage_df['low_density'] = pd.np.where(use_str.contains("Low"), 1,0)
Usage_df['mid_density'] = pd.np.where(use_str.contains("Medium"), 1,0)
Usage_df['high_density'] = pd.np.where(use_str.contains("High"), 1,0)
Usage_df

,Usage_id,Usage_text,industry,housing,agriculture,commerce,reserve,government,low_density,mid_density,high_density
0,0,Downtown,0,1,0,1,0,0,0,0,0
1,1,Government Reserve,0,0,0,0,1,1,0,0,0
2,2,High Risk Industry,1,0,0,0,0,0,0,0,1
3,3,Housing High density,0,1,0,0,0,0,0,0,1
4,4,Housing Low density,0,1,0,0,0,0,1,0,0
5,5,Housing Medium density,0,1,0,0,0,0,0,1,0
6,6,Infrastructure,1,0,0,0,0,1,0,0,0
7,7,Low Risk Industry,1,0,0,0,0,0,1,0,0
8,8,Medium Risk Industry,1,0,0,0,0,0,0,1,0
9,9,"Mixed (Commerce, Housing, Industry)",1,1,0,1,0,0,0,0,0
10,10,Parks,0,0,1,0,0,1,0,0,0
11,11,Reserve Housing Conditioned,0,1,0,0,1,0,0,0,0
12,12,Reserve Industry Conditioned,1,0,0,0,1,0,0,0,0
13,13,Vegetation area,0,0,1,0,0,0,0,0,0

In [58]:
User_df

   User_id                      User_text
0        0    Commercial High Consumption
1        1  Commercial Normal Consumption
2        2                     Industrial
3        3                   Low Domestic
4        4                Medium Domestic
5        5           Residential Domestic
6        6                Social Services

In [59]:
# True if contains Industrial
User_df = User_df.assign(u_industry=0)

# True if contains Domestic
User_df = User_df.assign(u_domestic=0)

# True if contains Social 
User_df = User_df.assign(u_social =0)

# True if contains Commercial 
User_df = User_df.assign(u_commerce=0)

# True if contains Low 
User_df = User_df.assign(u_low_density=0)

# True if contains Medium or Normal
User_df = User_df.assign(u_mid_density=0)

# True if contains High 
User_df = User_df.assign(u_high_density=0)

# True if contains Residential  
User_df = User_df.assign(u_residential=0)


# Applying the conditions
use_str = User_df.User_text.str
User_df['u_industry'] = pd.np.where(use_str.contains("Industrial"), 1,0)
User_df['u_social'] = pd.np.where(use_str.contains("Social"), 1,0)
User_df['u_domestic'] = pd.np.where(use_str.contains("Domestic"), 1,0)
User_df['u_commerce'] = pd.np.where(use_str.contains("Commercial"), 1,0)
User_df['u_residential'] = pd.np.where(use_str.contains("Residential"), 1,0)
User_df['u_low_density'] = pd.np.where(use_str.contains("Low"), 1,0)
User_df['u_mid_density'] = pd.np.where(use_str.contains("Medium"), 1,
                       pd.np.where(use_str.contains("Normal"), 1,0))
User_df['u_high_density'] = pd.np.where(use_str.contains("High"), 1,0)
User_df

,User_id,User_text,u_industry,u_domestic,u_social,u_commerce,u_low_density,u_mid_density,u_high_density,u_residential
0,0,Commercial High Consumption,0,0,0,1,0,0,1,0
1,1,Commercial Normal Consumption,0,0,0,1,0,1,0,0
2,2,Industrial,1,0,0,0,0,0,0,0
3,3,Low Domestic,0,1,0,0,1,0,0,0
4,4,Medium Domestic,0,1,0,0,0,1,0,0
5,5,Residential Domestic,0,1,0,0,0,0,0,1
6,6,Social Services,0,0,1,0,0,0,0,0

In [60]:
# Explore the Gauges
Gauge_df

    Gauge_id             Gauge_text
0          0    CICASA / DE LA UNET
1          1        CICASA MMD-15 S
2          2                  DOROT
3          3             MSDELAUNET
4          4                    ABB
5          5                ACTARIS
6          6                   ALFA
7          7            BADGERMETER
8          8          Cicasa NG 1/2
9          9          Cicasa NG 3/4
10        10        Delaunet MD-100
11        11         Delaunet MD-50
12        12               INVENSYS
13        13                   KENT
14        14          Not Specified
15        15    Otras / desconocida
16        16                 SENSUS
17        17            SHLUMBERGER
18        18                 ELSTER
19        19                 SAPPEL
20        20                  ADCOM
21        21                 AZTECA
22        22         ENDRESS-HOUSER
23        23             INVERCONTA
24        24       Badger combinado
25        25                   ARAD
26        26               AV3STARS
27        27             Azteca 3VM
28        28          BAR-METERS 1"
29        29      Badger M25 Bronce
30        30        Delaunet WD-100
31        31                    EWE
32        32               GENERICA
33        33              Iberconta
34        34               Kent ABB
35        35                 MASTER
36        36             PRECISA II
37        37               RECORDAL
38        38              Y-T MD-15
39        39             ZENNER 1/2
40        40         Delaunet MD-15
41        41                  TONHY
42        42                   IESA
43        43         Delaunet MD-19
44        44         Delaunet MD-40
45        45        Delaunet MMD-19
46        46               MEXICANO
47        47        SAPPEL AQUARIUS
48        48                NEPTUNE
49        49        Badger RCDLL-25
50        50               AQUARIUS
51        51         Delaunet UD-15
52        52  Delaunet Aurus 3UM-15
53        53                MENECKE

I found very few common properties that can be extracted.
I think it is better to number the gauges as G_GaugeName
This should bedone by 
1. changing all cases to SentenceCase
2. removing special characters like /, \, ", -, ., and so on...
3. replacing spaces by underscores

In [82]:
Gauge_df = Gauge_df.assign(Gauge_names=Gauge_df.Gauge_text)
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.replace('1/2','half_in')
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.replace('3/4','triquarter_in')
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.replace('"',' in')
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.replace('-','')
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.replace('/','_')
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.replace(' ','_')
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.replace('__','_')
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.replace('__','_')
# Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.lower()
# Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.capitalize()
Gauge_df.Gauge_names = Gauge_df.Gauge_names.str.title()
# Gauge_df.Gauge_names = 'Gauge_' + Gauge_df.Gauge_names.astype(str)
Gauge_df

    Gauge_id             Gauge_text              Gauge_names
0          0    CICASA / DE LA UNET        Cicasa_De_La_Unet
1          1        CICASA MMD-15 S           Cicasa_Mmd15_S
2          2                  DOROT                    Dorot
3          3             MSDELAUNET               Msdelaunet
4          4                    ABB                      Abb
5          5                ACTARIS                  Actaris
6          6                   ALFA                     Alfa
7          7            BADGERMETER              Badgermeter
8          8          Cicasa NG 1/2        Cicasa_Ng_Half_In
9          9          Cicasa NG 3/4  Cicasa_Ng_Triquarter_In
10        10        Delaunet MD-100           Delaunet_Md100
11        11         Delaunet MD-50            Delaunet_Md50
12        12               INVENSYS                 Invensys
13        13                   KENT                     Kent
14        14          Not Specified            Not_Specified
15        15    Otras / desconocida        Otras_Desconocida
16        16                 SENSUS                   Sensus
17        17            SHLUMBERGER              Shlumberger
18        18                 ELSTER                   Elster
19        19                 SAPPEL                   Sappel
20        20                  ADCOM                    Adcom
21        21                 AZTECA                   Azteca
22        22         ENDRESS-HOUSER            Endresshouser
23        23             INVERCONTA               Inverconta
24        24       Badger combinado         Badger_Combinado
25        25                   ARAD                     Arad
26        26               AV3STARS                 Av3Stars
27        27             Azteca 3VM               Azteca_3Vm
28        28          BAR-METERS 1"           Barmeters_1_In
29        29      Badger M25 Bronce        Badger_M25_Bronce
30        30        Delaunet WD-100           Delaunet_Wd100
31        31                    EWE                      Ewe
32        32               GENERICA                 Generica
33        33              Iberconta                Iberconta
34        34               Kent ABB                 Kent_Abb
35        35                 MASTER                   Master
36        36             PRECISA II               Precisa_Ii
37        37               RECORDAL                 Recordal
38        38              Y-T MD-15                  Yt_Md15
39        39             ZENNER 1/2           Zenner_Half_In
40        40         Delaunet MD-15            Delaunet_Md15
41        41                  TONHY                    Tonhy
42        42                   IESA                     Iesa
43        43         Delaunet MD-19            Delaunet_Md19
44        44         Delaunet MD-40            Delaunet_Md40
45        45        Delaunet MMD-19           Delaunet_Mmd19
46        46               MEXICANO                 Mexicano
47        47        SAPPEL AQUARIUS          Sappel_Aquarius
48        48                NEPTUNE                  Neptune
49        49        Badger RCDLL-25           Badger_Rcdll25
50        50               AQUARIUS                 Aquarius
51        51         Delaunet UD-15            Delaunet_Ud15
52        52  Delaunet Aurus 3UM-15     Delaunet_Aurus_3Um15
53        53                MENECKE                  Menecke

In [90]:
# One_hot_encoding using pandas

Gauge_df2 = pd.concat([Gauge_df,pd.get_dummies(Gauge_df.Gauge_names, prefix='Gauge')], axis=1)
Gauge_df2

,Gauge_id,Gauge_text,Gauge_names,Gauge_Abb,Gauge_Actaris,Gauge_Adcom,Gauge_Alfa,Gauge_Aquarius,Gauge_Arad,Gauge_Av3Stars,...,Gauge_Otras_Desconocida,Gauge_Precisa_Ii,Gauge_Recordal,Gauge_Sappel,Gauge_Sappel_Aquarius,Gauge_Sensus,Gauge_Shlumberger,Gauge_Tonhy,Gauge_Yt_Md15,Gauge_Zenner_Half_In
0,0,CICASA / DE LA UNET,Cicasa_De_La_Unet,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,CICASA MMD-15 S,Cicasa_Mmd15_S,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,DOROT,Dorot,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,MSDELAUNET,Msdelaunet,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,ABB,Abb,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,ACTARIS,Actaris,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,ALFA,Alfa,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,7,BADGERMETER,Badgermeter,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,Cicasa NG 1/2,Cicasa_Ng_Half_In,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,Cicasa NG 3/4,Cicasa_Ng_Triquarter_In,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,10,Delaunet MD-100,Delaunet_Md100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,11,Delaunet MD-50,Delaunet_Md50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,12,INVENSYS,Invensys,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,13,KENT,Kent,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,14,Not Specified,Not_Specified,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,15,Otras / desconocida,Otras_Desconocida,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16,16,SENSUS,Sensus,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,17,SHLUMBERGER,Shlumberger,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18,18,ELSTER,Elster,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,19,SAPPEL,Sappel,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
20,20,ADCOM,Adcom,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,21,AZTECA,Azteca,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,22,ENDRESS-HOUSER,Endresshouser,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,23,INVERCONTA,Inverconta,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,24,Badger combinado,Badger_Combinado,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,25,ARAD,Arad,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,26,AV3STARS,Av3Stars,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27,27,Azteca 3VM,Azteca_3Vm,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,28,"BAR-METERS 1""",Barmeters_1_In,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,29,Badger M25 Bronce,Badger_M25_Bronce,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,30,Delaunet WD-100,Delaunet_Wd100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,31,EWE,Ewe,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,32,GENERICA,Generica,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,33,Iberconta,Iberconta,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,34,Kent ABB,Kent_Abb,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,35,MASTER,Master,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,36,PRECISA II,Precisa_Ii,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
37,37,RECORDAL,Recordal,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
38,38,Y-T MD-15,Yt_Md15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39,39,ZENNER 1/2,Zenner_Half_In,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
40,40,Delaunet MD-15,Delaunet_Md15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,41,TONHY,Tonhy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
42,42,IESA,Iesa,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,43,Delaunet MD-19,Delaunet_Md19,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,44,Delaunet MD-40,Delaunet_Md40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,45,Delaunet MMD-19,Delaunet_Mmd19,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,46,MEXICANO,Mexicano,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,47,SAPPEL AQUARIUS,Sappel_Aquarius,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
48,48,NEPTUNE,Neptune,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,49,Badger RCDLL-25,Badger_Rcdll25,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,50,AQUARIUS,Aquarius,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
51,51,Delaunet UD-15,Delaunet_Ud15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,52,Delaunet Aurus 3UM-15,Delaunet_Aurus_3Um15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53,53,MENECKE,Menecke,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Saving the three modified dataframes

In [91]:
Usage_df.to_csv('Usage_encoded.CSV', index=False)
User_df.to_csv('User_encoded.CSV', index=False)
Gauge_df2.to_csv('Gauge_encoded.CSV', index=False)
print ('*Done*')

*Done*